# Ignore vs code/cursor settings and workspace files
.vscode/
# *.code-workspace
settings.json
.cursorrules
.cursorignore
# Ignore all userdata directories and their contents, even in child directories
**/userdata/
**/media/
# Allow the folder tp-app-openvpn/openvpn/config but ignore all files under it
!tp-app-openvpn/config/
tp-app-openvpn/config/*
!tp-app-openvpn/logs/
tp-app-openvpn/logs/*
#Remove any templates
**/*.template/
*.template
!*.conf.template
# Ignore all environment files including child directories, but not .env.template
**/*.env
!**/*.env.template
# Ignore any folder or file created under the folder appdata
appdata/*
!appdata/.gitkeep
