[global]
   workgroup = WORKGROUP
   server string = __SAMBASERVER_STRING__
   netbios name = __SAMBANETBIOS_NAME__
   security = user
   map to guest = Bad User
   dns proxy = no

# Public share
[public]
   path = __PUBLIC_PATH__
   browsable = yes
   writable = yes
   guest ok = yes
   guest only = yes
   read only = no
   force user = nobody

# Private share
[private]
   path = __PRIVATE_PATH__
   browsable = yes
   writable = yes
   valid users = @sambashare
   read only = no