SAMBASERVER_STRING = samba server
SAMBANETBIOS_NAME = samba
PUBLIC_PATH = /home/raspberry/5/shared/public
PRIVATE_PATH = /home/raspberry/5/shared/private
SAMBA_USER = rberry5
SAMBA_PASSWORD = raspberry